<% if logged_in? %>
<<<<<<< HEAD

  <div class="row">

=======
  <div class="row">
>>>>>>> 5a1ee018958dbe351607f940035d79221e78070c
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
<<<<<<< HEAD
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>

=======
    </aside>
>>>>>>> 5a1ee018958dbe351607f940035d79221e78070c
    <div class="col-md-8">
    	<h3>Micropost Feed</h3>
    	<%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="center jumbotron">
  <h1>Welcome to TransPro</h1>

  <h2>Because language brings us together!
    <a href="http://www.railstutorial.org/">RoR</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>
